<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>

  <header>
    <h1>TinyURL App!</h1>
  <% if (userName === null) { %>
    <form class="form-login" action="/login" method="POST">
      <div class="form-group mb-2">
        <label for="userName">Email:</label>
        <input class="form-control" type="text" name="userName" placeholder="enter user..." style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
 <% } else { %>
    <p>
      Currently logged in as:  <%= userName %> !
    </p>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  <% } %>
  </header>