<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">
  
  <title>TinyApp</title>
</head>

<header style="background-color:#5A7247">
<div class="ui menu" style="background-color:#5A7247; border-style:none">
<div class="ui middle aligned center aligned grid" style="background-color:#5A7247">

  <h2 class="ui icon header">
    <i class="hand scissors icon"></i>
    <span style="color:tomato"> <strong>tinyApp !</strong> </span>
  </h2>

  <% if (!userName) { %>
  <div class="item">
    <form action="/login" method="GET">
      <i class="lock icon"></i> 
      <button class="ui black button" type="submit">Login</button>
    </form>
  </div>

  <div class="item">
    <form action="/register" method="GET">
      <i class="bell icon"></i> 
      <button class="ui black button" type="submit">Register</button>
    </form>
  </div>
        
  <% } else { %>
  <div class="item">
    <form action="/logout" method="POST">
      <button class="ui black button" type="submit">Logout</button>
    </form>
    <p> Currently logged in as: <i class="user circle icon"></i> <strong><%= userName %> </strong> </p>
  </div>

  <% } %>

</div>
</div>

</header>

<body>
  
</body>