<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">
  
  <title>TinyApp</title>
</head>

<header style="background-color:#CFB095; padding:2%">

<div class="ui middle aligned divided list">
  <div class="item">


<% if (!userName) { %>
    <div class="right floated content">
      <div class="ui middle aligned grid">

      <div class="item">
        <form action="/login" method="GET">
          <i class="lock icon"></i>
          <button class="ui black button" type="submit">Login</button>
        </form>
      </div>

      <div class="item">
        <form action="/register" method="GET">
          <i class="bell icon"></i>
          <button class="ui black button" type="submit">Register</button>
        </form>
      </div>
      
    </div>
    </div>

<% } else { %>
    <div class="right floated content">
      <div class="ui middle aligned grid">
        <p> Currently logged in as: <i class="user circle icon"></i> <strong><%= userName %> </strong> </p>

        <form action="/logout" method="POST">
          <button class="ui black button" type="submit">Logout</button>
        </form>
      </div>
    </div>
<% } %>

    <h1 class="ui icon">
      <a href="/urls">
        <i style="color:black" class="hand scissors icon"></i>
        <span style="color:tomato"> 
          tinyApp !
        </span>
      </a>
    </h1>

  </div>
</div>

</header>
