<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">
  
  <title>TinyApp</title>
</head>

<header style="background-color:#5A7247">
  <h2 class="ui center aligned icon header">
    <i class="hand scissors icon"></i>
    tinyApp !
  </h2>

  <% if (!userName) { %>
    <form action="/login" method="GET">
    <i class="lock icon"></i> <input type="submit" value="Login">
    </form>

    <form action="/register" method="GET">
    <i class="bell icon"></i> <input type="submit" value="Register">
    </form>
  
  <% } else { %>
    <p>
      Currently logged in as: <i class="user circle icon"></i> <strong><%= userName %> </strong>
    </p>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  <% } %>
</header>