<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">

    <title>TinyApp</title>
  </head>


<header style="background-color:#5A7247">
  <h2 class="ui center aligned icon header">
    <i class="hand scissors icon"></i>
    tinyApp <span style="color:tomato">LOGIN</span>
  </h2>
</header>

<body style="background-color:#5A7247">

<div class="ui middle aligned center aligned grid" style="background-color:#5A7247">
<div class="column">

  <form class="ui form" id="form-login" action="/login" method="POST" style="background-color:#5A7247">

    <div class="item">
      <h3><i class="user icon"></i> Email:</h3>
      <input type="email" name="email" placeholder="email@email.com" style="width: 200px; margin: 1em">
    </div>

    <div class="item">
      <h3><i class="lock icon"></i> Password:</h3>
      <input class="ui input" type="password" name="password" style="width: 200px; margin: 1em">
    </div>  

    <button class="ui fluid large black submit button" type="submit" form="form-login">Login</button>

  </form>

  <a class="ui orange button" href="/register">Or Register Here!</a>

</div>

</div>

</body>
</html>
