

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">
  <title>New URL</title>
</head>

<% include partials/_header %>

<body>

  <div class="ui one column stackable center aligned page grid" style="padding:2%">
    <div class="column twelve wide">

      <h1 style="padding-top:2%">Create TinyURL</h1>

      <form class="form-inline" action="/urls/new" method="POST">

        <div class="ui input">
          <input type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        </div>

        <button type="submit" class="ui black button"><i class="cut icon"></i>tiny me! </button>

      </form>

      <a class="ui orange button" href="/urls">Go back to my  URLs</a>
    </div>
  </div>

</body>

</html>