

<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">

    <title>New URL - TinyApp Example</title>
  </head>

  <body style="font-size:20px; padding:50px; background-color:#5A7247>

    <% include partials/_header %>

    <h3>Create TinyURL</h3>
    <a href="/urls">URLs List</a>
    <form class="form-inline" action="/urls/new" method="POST">
        <!-- <label for="longURL">Enter a URL:</label> -->
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="submit" class="ui black button"><i class="cut icon"></i>tiny please! <</button>
    </form>
  </body>

</html>